/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes liked {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
        transform-origin: center;
    }
    to {
        transform: scale(1);
        transform-origin: center;
    }
  }
  
  @keyframes liked-sparks {
    from {
        opacity: 0%;
    }
  
    50% {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
  }
  
  @keyframes menu_button_rrow {
    from {
        transform: translateX(0);
    }
  
    50% {
        transform: translateX(4px);
    }
  
    to {
        transform: translateX(0);
    }
  }

  .like-icon.is-liked .heart {
    animation: liked 0.3s 0.01s normal ease-in;
  }
  
  .like-icon.is-liked .sparks {
    animation: liked-sparks 0.3s 0.03s normal ease-in;
  }

  .theme-menu__button:disabled::before {
    animation: menu_button_rrow 0.5s ease-in-out infinite;
  }