/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  color: var(--color-text);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-block: 100px;
  inline-size: clamp(375px, 90%, 700px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
      "."
      "logo"
      "nav";
  background-color: var(--background-color);
  font-family: var(--font-accent);
  text-transform: uppercase;
  justify-items: center;
  border: 2px solid var(--color-text);

}

.header_logo_title {
  font-size: clamp(3.063rem, 1.909rem + 4.923vw, 4.063rem);
  
}

.link_title {
  text-decoration: none;
}

.header_logo_text {
  font-size: clamp(0.875rem, 0.226rem + 2.769vw, 1.438rem);
}

.header_logo {
  display: grid;
  grid-area: logo;
  margin-block-start: 16px;
  justify-items: center;
  row-gap: 20px;
}

.header__theme-menu {
  grid-area: nav;
  padding: 25px 0px;
  margin-inline-start: 18px;
}

.theme-menu__list {
  display: grid;
  row-gap: 14px;
  font-size: 14px;
}

.theme-menu__button {
  text-transform: uppercase;
  background: none;
  border: none;
  padding: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
  position: relative;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  inset-block-end: -3px;
  inset-inline-start: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus::after {
  color: var(--color-text);
  outline: none;
  transform: scaleX(1);
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  color: var(--color-text);
  outline: none;
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  color: var(--color-text);
  position: absolute;
  left: -20px;
}

@media (width <= 376px) {
  .header {
      width: 100%;
      grid-template-rows: 1fr min-content 1fr;
  }

  .header_logo {
      margin-block-start: 0px;
  }
}

.content {
  width: clamp(375px, 90%, 700px);
}

.content_card {
  background-color: var(--background-color);
  font-family: var(--font);
  padding-bottom: 25px;
  border: 2px solid var(--color-text);
  margin-block-end: 50px;
}

.content_card_title {
  font-variation-settings: "wght" var(--title-weight-var);
  font-size: 18px;
  line-height: 21.78px;
  padding-block: 5px;
  padding-inline-start: 10px;
}

.content_card_img {
  width: 100%;
  position: relative;
  z-index: 0;
  border-top: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
  font-size: 0;
  line-height: 0;
}

.content_img {
  width: 100%;
  object-fit: cover;
}

.content_card_label {
  position: absolute;
  z-index: 1;
  right: 25px;
  top: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  color: var(--color-text);
  opacity: 50%;
  text-shadow: -1px -1px 0 var(--border-color), -1px 1px 0 var(--border-color), 1px -1px 0 var(--border-color), 1px 1px 0 var(--border-color);
}

@supports ((text-stroke: 1px var(--border-color)) or (-webkit-text-stroke: 1px var(--border-color))) {
  .content_card_label {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--border-color);
  }
}

.content_card_text {
  font-size: 18px;
  font-variation-settings: "wght" var(--text-weight-var);
  line-height: 21px;
  margin: 25px;
  margin-top: 22px;
}

.content_card_text p {
  margin-bottom: 25px;
}

.button {
  display: flex;
  justify-content: right;
  margin-inline-end: 25px;
}

.card__icon-button {
  display: flex;
  width: 39px;
  height: 38px;
  margin-inline-end: 8px;
  padding: 0px;
  border: 2px solid transparent;
  background-color: var(--background-color);
  transition: border-color 0.3s ease;
}

.like-icon {
  flex-shrink: 0;
}

.card__icon-button:focus-visible {
  border-color: var(--color-text);
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon:focus {
  outline: none;
}

.like-icon:hover {
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.content_card_button {
  width: 130px;
  height: 38px;
  background-color: var(--background-color);
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 12.6px;
  border: 2px solid var(--color-text);
  position: relative;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--difference-color);
  mix-blend-mode: difference;
}

.content_card_button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--color-text);
  transition: box-shadow 0.3s ease;
}

.content_card_button::after {
  content: "";
  background-color: var(--color-text);
  width: 100%;
  height: 100%;
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.content_card_button:hover {
  cursor: pointer;
}

.content_card_button:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
}

@media (width <= 376px) {
  .content {
      width: 100%;
  }

  .content_card_title {
      padding-inline: 10px;
  }

  .content_card_label {
      top: 30px;
      right: 11px;
  }

  .content_card_text {
      margin-inline-end: 27.95px;
      margin-top: 25px;
  }

}

.button-footer {
  padding-inline-end: 21px;
  padding-inline-start: 19px;
  padding-block: 8px;
  font-family: var(--font-accent);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5px;
  background-color: var(--background-color);
  border: 2px solid var(--color-text);
  position: relative;
  margin-block-end: 103px;
}

.button-footer::after {
  content: "";
  background-color: var(--color-text);
  width: 100%;
  height: 100%;
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button-footer:hover {
  cursor: pointer;
}

.button-footer:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
}

.footer_text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--difference-color);
}

.footer_floppy {
  width: 21px;
  fill: var(--text-color);
  flex-shrink: 0;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--difference-color);
  flex-shrink: 0;
  margin-right: 5px;
}

@media (width <= 376px) {
  .button-footer {
      max-height: 84px;
      flex-direction: column;
      padding-inline-end: 20.5px;
      padding-inline-start: 19.5px;
      padding-block: 15px;
      margin-block-end: 100px;
  }

  .footer_floppy {
      width: 28px;
  }
}

.dialog_block[open] {
  max-width: 353px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 2px solid var(--color-text);
  background-color: var(--background-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

.dialog_block_text {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 20px;
  align-items: center;
  color: var(--color-text);
}

.dialog_floppy {
  width: 39px;
  height: 39px;
  fill: var(--text-color);
  flex-shrink: 0;
}

.dialog_text {
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
}

.dialog_button {
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 12.6px;
  height: 38px;
  outline: none;
  border: 2px solid var(--color-text);
  background-color: var(--background-color);
  color: var(--color-text);
  position: relative;
}

.dialog_button::after {
  content: "";
  background-color: var(--color-text);
  width: 100%;
  height: 100%;
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.dialog_button:hover {
  cursor: pointer;
}

.dialog_button:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
}

.dialog_button_text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--difference-color);
}

@media (width <= 376px) {
  .dialog_block[open] {
      max-width: 341px;
      padding-inline: 42px;
      padding-block: 30px;
  }

  .dialog_block_text {
      gap: 18px;
  }
}

.img_1sprint {
  filter: blur(4px) grayscale(0.3);
}

.img_11sprint {
  filter: brightness(90%);
}

.img_2sprint {
  filter: hue-rotate(0.1turn) brightness(85%);
}

.img_22sprint {
  filter: grayscale(0.3);
}

.img_3sprint {
  filter: sepia(0.9);
}

.img_33sprint {
  filter: invert(0.2);
}

.img_now {
  filter: saturate(80%);
}
