/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font-accent: 'Press Start 2P', Arial, sans-serif;
    --font: 'Inter', Arial, sans-serif;
    --text-weight: 400;
    --text-weight-title: 700;
    --background-color: rgba(255, 255, 255, 1);
    --color-text: rgba(0, 0, 0, 1);
    --border-color: rgba(255, 255, 255, 1);
    --heart-color: rgba(255, 0, 0, 1);
    --difference-color: rgba(255, 255, 255, 1);
    --background-image: 
    repeating-linear-gradient(
        to right, 
        rgb(211, 211, 211), 
        rgb(211, 211, 211) 2px, 
        rgb(211, 211, 211, 0) 2px, 
        rgb(211, 211, 211, 0) 4px
        ),
        repeating-linear-gradient(
          to bottom, 
          rgb(211, 211, 211), 
          rgb(211, 211, 211) 2px, 
          rgb(211, 211, 211, 0) 2px, 
          rgb(211, 211, 211, 0) 4px
        ),
        linear-gradient(
          #e7e7e7 0.01%,
          #1a1a1a
        );
     ;
}